.packages-header{
    
    width: 40%;
    padding: 10px 0;
    border-radius: 6px;
    color: white;
    background: #171717;
    margin-top: 90px  !important;
    margin-bottom: 70px  !important;
    
    
}